@charset "utf-8";
/* CSS Document */
.modal-admissions { background: #eee; }
.modal-admissions .modal-body { padding: 40px 15px; }
.modal-admissions .close { position: absolute; right: 15px; top: 10px; }
.modal-admissions .modal-body, .resp-iframe { border: none; }
.modal-admissions .close:focus, .modal-admissions .close:hover, .modal-admissions .close { color: #28256b; opacity: 1; font-size: 30px; }
.resp-iframe { width: 100%; min-height: 420px; border: 0; }
@media (max-width: 480px) {
	iframe.resp-iframe { min-height: 600px; }	
}
@media (min-width: 480px) and (max-width: 768px) {
	.modal-admissions { margin: 30px 20px; }
}